body {
font-family: Arial;
background-color: #f2f2f2;
text-align: center;
}

h1 {
color: #333;
}

form {
background-color: #ffffff;
width: 320px;
margin: auto;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px #ccc;

}

input, select, button {
width: 100%;
padding: 8px;
margin: 8px 0;
}

button {
background-color: #4CAF50;
color: white;
border: none;
cursor: pointer;
}

button:hover {
background-color: #45a049;
}