body {
background: linear-gradient(to right, #74ebd5, #acb6e5);
font-family: Arial;
}

.card {
width: 350px;
background: white;
padding: 20px;
margin: 80px auto;
border-radius: 10px;
box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

h2 {
text-align: center;
color: #333;
}

label {
font-weight: bold;
}

input {
width: 100%;
padding: 8px;

margin: 6px 0 12px 0;
border-radius: 5px;
border: 1px solid #ccc;
}

button {
width: 100%;
padding: 10px;
background: #4CAF50;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background: #45a049;
}

.result {
margin-top: 15px;
font-size: 16px;
font-weight: bold;
text-align: center;
}